/* body {
    background-color: aqua;
} */
h1 {
    background-color: #ff0000;
  }
  
  h2 {
    background-color: #1900ff;
    color: #f4f7f5;
  }
  
  h3 {
    background-color: #00FF00;
  }
  em1 {
    color:beige;
  }
  em {
    background-color: #000000;
    color: #e90e0e;
  }
  